.carousel-img {
    height: 400px; /* Set a fixed height for all images */
    object-fit: fill; /* Crop or scale the image to fill the space */
    width: 100%; /* Ensure the width fills the container */
  }
  