<!-- 
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <img src="https://images.unsplash.com/photo-1517427677506-ade074eb1432?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 1" class="d-block w-100">
  </ng-template>  
  <ng-template carouselSlide>
    <img src="https://images.unsplash.com/photo-1520520731457-9283dd14aa66?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image 2" class="d-block w-100">
  </ng-template>  
  <ng-template carouselSlide>
    <img src="https://static.toiimg.com/thumb/msid-101013153,width-748,height-499,resizemode=4,imgsize-96330/.jpg" alt="Image 3" class="d-block w-100">
  </ng-template>  
</owl-carousel-o>
 -->
 <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <img 
      src="https://images.unsplash.com/photo-1517427677506-ade074eb1432?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
      alt="Image 1" 
      class="d-block w-100 carousel-img">
  </ng-template>  
  <ng-template carouselSlide>
    <img 
      src="https://images.unsplash.com/photo-1520520731457-9283dd14aa66?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
      alt="Image 2" 
      class="d-block w-100 carousel-img">
  </ng-template>  
  <ng-template carouselSlide>
    <img 
      src="https://static.toiimg.com/thumb/msid-101013153,width-748,height-499,resizemode=4,imgsize-96330/.jpg" 
      alt="Image 3" 
      class="d-block w-100 carousel-img">
  </ng-template>  
</owl-carousel-o>
