.navbar-brand img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
  }
  
  .navbar .container-fluid {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .navbar-collapse {
    flex-grow: 1;
    justify-content: flex-end;
  }
  
  .custom-btn {
    color: rgb(171, 30, 30);
    border-color: rgb(122, 44, 44);
  
    &:hover {
      background-color: rgb(169, 23, 23);
      color: white;
    }
  }
  
  .custom-title {
    color: rgb(169, 23, 23);
  }
  
  .img-fixed-size {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
  