.contact-container {
    padding: 30px;
    background-color: #f8f9fa;
  
    .contact-form {
      max-width: 600px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
      input,
      textarea {
        width: 100%;
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
  
      button {
        width: 100%;
        padding: 10px;
        background-color: rgb(171, 30, 30);
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
  
        &:hover {
          background-color: rgb(140, 24, 24);
        }
      }
    }
  }
  
  